services:
  # --------------------------------
  # 1. FASTAPI BACKEND SERVICE
  # --------------------------------
  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    env_file:
      - .env
    restart: always
    ports:
      - "8000:8000"
    networks:
      - my_network
    environment:
      # - ENVIRONMENT=development
      - db_host=db
    volumes:
      - ./src:/app/src 
      - ./subtitles:/app/subtitles
      # - ./index:/app/index
    command: uvicorn src.backend.api:app --host 0.0.0.0 --port 8000 --reload
    # command: uvicorn src.backend.api:app --reload 

      
  # --------------------------------
  # 2. STREAMLIT FRONTEND SERVICE
  # --------------------------------
  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    restart: always
    ports:
      - "8501:8501"
    environment:
      - BACKEND_URL=http://backend:8000
    networks:
      - my_network
    depends_on:
      - backend
    volumes:
      # LIVE CODE MOUNT: Syncs your local code folder to the container
      - ./src:/app/src 
    command: streamlit run src/frontend/app.py --server.port 8501 --server.enableCORS true --server.enableXsrfProtection false
    # command: streamlit run src/frontend/app.py

  db:
    image: ankane/pgvector:latest
    container_name: rag_db
    restart: always
    env_file:
      - .env
    ports:
      - "${POSTGRES_PORT}:${POSTGRES_PORT}"
    volumes:
      - rag_data:/var/lib/postgresql/data
    networks:
      - my_network
    depends_on:
      - backend

  pgadmin:
      image: dpage/pgadmin4
      container_name: pgadmin-ui
      environment:
        PGADMIN_DEFAULT_EMAIL: ${PGADMIN_EMAIL}
        PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_PASSWORD}
      networks:
        - my_network
      ports:
        - "5050:80"
      depends_on:
        - db

volumes:
  rag_data:
        driver: local

networks:
  my_network:
    driver: bridge