services:
  # --------------------------------
  # 1. FASTAPI BACKEND SERVICE
  # --------------------------------
  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    env_file:
      - .env # Docker Compose will look for a file named .env in the root directory
    restart: always
    ports:
      - "8000:8000"
    networks:
      - my_network
    environment:
      - ENVIRONMENT=development
    volumes:
      - ./src:/app/src 
      - ./subtitles:/app/subtitles
      - ./index:/app/index
    command: uvicorn src.backend.api:app --host 0.0.0.0 --port 8000 --reload
    # command: uvicorn src.backend.api:app --reload 


      
  # --------------------------------
  # 2. STREAMLIT FRONTEND SERVICE
  # --------------------------------
  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    restart: always
    ports:
      - "8501:8501"
    environment:
      - BACKEND_URL=http://backend:8000
    networks:
      - my_network
    depends_on:
      - backend
    volumes:
      # LIVE CODE MOUNT: Syncs your local code folder to the container
      - ./src:/app/src 
    command: streamlit run src/frontend/app.py --server.port 8501 --server.enableCORS true --server.enableXsrfProtection false
    # command: streamlit run src/frontend/app.py

networks:
  my_network:
    driver: bridge